node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tmp_test

# 🛡️ Environment Variables & API Secrets
.env
.env.*
*.env
*.env.local
*.env.production
